.Card {
	display: inline-block;
	padding: 15px;
	border-radius: 12px;
	background: var(--card-bg);
	overflow: hidden;
}

.normal {
	background-color: var(--card-bg);
}

.outlined {
	border: 1px solid var(--primary-color);
}
